.end
    min-height: 419px
    background: url('../img/grid.jpg') center center / cover no-repeat
    &__header
        text-align: center
        font-style: normal
        font-weight: bold
        font-size: 48px
        color: #fff
    &__text
        margin-top: 30px
        text-align: center
        color: #fff
        font-style: normal
        line-height: 160%
        font-weight: normal
        font-size: 16px
    &__input
        text-align: center
        margin-top: 60px
        input
            width: 353px
            height: 44px
            background-color: #FFFFFF
            opacity: 0.25
            border-radius: 50px 0px 0px 50px
            padding: 0 20px
            color: #fff
    &__wrapper
        position: relative
    &__btn
        text-align: center
        position: absolute
        left: 756px
        top: 1px
    &__button
        width: 160px
        height: 47px
        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%)
        border-radius: 50px
        border: none
        font-style: normal
        font-weight: bold
        font-size: 16px
        color: #fff
        cursor: pointer
    &__icons
        margin: 40px auto 0 auto
        display: flex
        justify-content: space-between
        max-width: 290px
    &__vk
        width: 50px
        height: 50px
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%)
        border-radius: 100px
        img
            display: block
            margin: 0 auto
            align-items: center
            padding: 13px 0