.start
    min-height: 742px
    background: url('../img/grid.jpg') center center / cover no-repeat
    &__header
        display: flex
        align-items: center
    &__text
        font-style: normal
        font-weight: bold
        font-size: 48px
        color: #fff
    &__descr
        margin-top: 51px
        color: #fff
        line-height: 160%
    &__number
        margin-top: 80px
        font-style: normal
        font-weight: bold
        font-size: 36px
        color: #fff
    &__rectangle
        margin-top: 20px
        max-width: 324px
        height: 80px
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%)
    &__specifications
        margin-top: 35px
        max-width: 306px
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
        color: #fff
    &__specifications2
        margin-top: 45px
        max-width: 306px
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
        color: #fff
    &__specifications3
        margin-top: 60px
        max-width: 306px
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
        color: #fff
    &__specifications4
        margin-top: 70px
        max-width: 306px
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
        color: #fff
    &__rectangle2
        margin-top: 30px
        max-width: 324px
        height: 60px
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%)
    &__rectangle3
        margin-top: 45px
        max-width: 324px
        height: 30px
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%)
    &__rectangle4
        margin-top: 55px
        max-width: 324px
        height: 10px
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%)
    &__percents
        display: flex